.advantages {
  min-height: 1000px;
  background-color: #f2f2f2;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  outline: 1px solid red;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
}

.advantages__caption {
  margin: 0;
  padding: 48px;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #283645;
  text-align: center;
}

.advantages__title {
  font-size: 18px;
  line-height: 10px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 660px;
  }

  .advantages {
    background-position: left;
  }

}

@media (min-width: @desctop-width) {
  .advantages__wrapper {
    max-width: 990px;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    width: 790px;
    height: 618px;
  }

}
