.form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__contest {
  height: 240px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__title {
  height: 95px;
  margin: auto;
  padding-top: 100px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

.form__text {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.form__user {
  border: none;
  outline: 1px solid red;
}

.contacts__input {
  width: 280px;
  height: 60px;
}

.form__contacts {
  height: 288px;
  border: none;
  outline: 1px solid red;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.contacts__item {
  padding-top: 30px;
}

.form__user,
.form__contacts legend,
.upps__text,
.form__emotions legend {
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.form__upps label {
  font-size: 18px;
}

.upps__input {
  width: 38px;
  height: 38px;
}

.form__upps {
  height: 340px;
  border: none;
  background-color: #f2f2f2;
  outline: 1px solid red;
}

.upps__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.upps__item {
  padding: 15px;
}

.form__emotions {
  height: 322px;
  border:  none;
  outline: 1px solid red;
}

.emotions__textarea {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .form__contacts {
    width: 620px;
    height: 310px;
    border: 1px solid #e5e5e5;
    order: 3;
  }

  .form__user {
    width: 620px;
  }

  .form__upps {
    width: 620px;
    height: 300px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
  }

  .form__emotions {
    width: 620px;
    height: 295px;
    border: 1px solid #e5e5e5;
    order: 5;
    text-align: center;
  }

  .form__submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 6;
  }

}

@media (min-width: @desctop-width) {
  .form__block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .form__user {
    width: 440px;
    height: 300px;
  }

  .form__contacts {
    width: 940px;
    height: 160px;
  }

  .form__upps {
    width: 435px;
    height: 300px;
  }

  .form__emotions  {
    width: 940px;
    height: 215px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }

  .contacts__item {
    padding: 35px;
  }

}
