.main-nav__logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  outline: 1px solid red;
}

.main-nav__logo img {
  padding: 15px;
}

@media (min-width: @tablet-width) {
  .main-nav__logo {
    background-image: url("../img/logo-pink-white-tablet.svg");
    background-repeat: no-repeat;
    height: 110px;
  }

  .main-nav__logo img {
    width: 155px;
    height: 48px;
    margin-top: 25px;
  }

}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    height: 365px;
  }

}
