.page-footer {
  height: 645px;
  text-align: center;
}

.page-footer__title {
  margin: auto;
  font-size: 24px;
  padding-top: 10px;
}

.page-footer__title:first-child {
  padding-top: 70px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
}

.page-footer__list a {
  color: #d22856;
  font-size: 24px;
}

.contacts__adress {
  font-size: 24px;
  color: #d22856;
}

.contacts__map {
  min-width: 320px;
  min-height: 200px;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
}
