.photo__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 320px;
}

.photo__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.photo__authors {
  min-width: 320px;
  height: 170px;
  margin: 0 auto;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: @dark-blue;
  background-size: cover;
}

.photo__title {
  width: 280px;
  height: 95px;
  margin: auto;
  padding-top: 100px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height:  30px;
}

.photo__caption {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

.photo__author-name {
  font-weight: bold;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .photo__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 660px;
  }

  .photo__item {
    max-width: 300px;
  }

}

@media (min-width: @desctop-width) {
  .photo__wrapper {
    max-width: 990px;
  }

}
