.photo__item {
  background-color: #f2f2f2;
  border: 1px solid red;
}


.photo__authors {
  height: 240px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  outline: 1px solid red;
}

.photo__title {
  width: 280px;
  height: 95px;
  margin: auto;
  padding-top: 100px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height:  30px;
}

.photo__caption {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

.photo__author-name {
  font-weight: bold;
  font-style: normal;
}

.upload {
  height: 880px;
  background-color: #f2f2f2;
  outline: 1px solid red;
}

.footer-photo {
  padding: 40px;
  height: 285px;
  outline: 1px solid red;
}
