.reviews__wrapper {
  max-width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
}

.reviews__list {
  padding: 40px 20px 25px;
}

.reviews__item {
  text-align: center;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
}

.reviews__toggles {
  text-align: center;
}
